* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    max-width: 1000px;
    margin: 0 auto;
    container-type: inline-size;
}
.container {
    container-type: inline-size;
}
.layout {
    padding: 0.6rem;
}

@container (min-width: 36rem) {
    .card {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }
}
@container (min-width: 900px) {
    .layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
    }
}

.card {
    --image-url: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png);
}
.card + .card {
    margin-top: 0.6rem;
}
.image {
    background-image: var(--image-url);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
}
.info p {
    max-width: 100%;
}
.info h1 {
    text-align: center;
}
